<div class="create-user-dialog">
  <div class="create-user-dialog__header">
    <h2 mat-dialog-title>Registrar usuario</h2>
    <button mat-icon-button class="create-user-dialog__close" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <form [formGroup]="userForm" class="create-user-dialog__form">
      <div class="create-user-dialog__row">
        <mat-form-field appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="idDepartamento">
            <mat-option [value]="">Seleccione un Departamento</mat-option>
            <mat-option *ngFor="let dept of departamentos" [value]="dept.id">
              {{dept.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cargo</mat-label>
          <mat-select formControlName="idCargo">
            <mat-option [value]="">Seleccione un perfil</mat-option>
            <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
              {{cargo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="create-user-dialog__row">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="usuario">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>
      </div>

      <div class="create-user-dialog__row">
        <mat-form-field appearance="outline">
          <mat-label>Primer Nombre</mat-label>
          <input matInput formControlName="primerNombre">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Segundo Nombre</mat-label>
          <input matInput formControlName="segundoNombre">
        </mat-form-field>
      </div>

      <div class="create-user-dialog__row">
        <mat-form-field appearance="outline">
          <mat-label>Primer Apellido</mat-label>
          <input matInput formControlName="primerApellido">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput formControlName="segundoApellido">
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button class="create-user-dialog__cancel-button" (click)="onCancel()">
      Cancelar
    </button>
    <button mat-raised-button class="create-user-dialog__submit-button" (click)="onSubmit()" [disabled]="!userForm.valid">
      Registrar
    </button>
  </mat-dialog-actions>
</div>
