<div class="users">
  <header class="users__header">
    <div class="users__module-info">
      <span class="users__module-label">Módulo de Administración</span>
      <h1 class="users__title">Administración de usuarios</h1>
    </div>

    <div class="users__filters">
      <mat-form-field appearance="outline" class="users__filter">
        <mat-label>Seleccione un Departamento</mat-label>
        <mat-select [(ngModel)]="selectedDepartamento" (selectionChange)="onFilterChange()">
          <mat-option [value]="undefined">Todos</mat-option>
          <mat-option *ngFor="let dept of departamentos" [value]="dept.id">
            {{dept.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="users__filter">
        <mat-label>Seleccione un Cargo</mat-label>
        <mat-select [(ngModel)]="selectedCargo" (selectionChange)="onFilterChange()">
          <mat-option [value]="undefined">Todos</mat-option>
          <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
            {{cargo.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="users__create-button">
        Crear nuevo usuario
      </button>
    </div>
  </header>

  <div class="users__content">
    <div class="users__table-container">
      <table mat-table [dataSource]="users" class="users__table">
        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let user"> {{user.usuario}} </td>
        </ng-container>

        <!-- Nombres Column -->
        <ng-container matColumnDef="primerNombre">
          <th mat-header-cell *matHeaderCellDef> Nombres </th>
          <td mat-cell *matCellDef="let user"> {{user.primerNombre}} {{user.segundoNombre}} </td>
        </ng-container>

        <!-- Apellidos Column -->
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td mat-cell *matCellDef="let user"> {{user.primerApellido}} {{user.segundoApellido}} </td>
        </ng-container>

        <!-- Departamento Column -->
        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef> Departamento </th>
          <td mat-cell *matCellDef="let user"> {{user.departamento.nombre}} </td>
        </ng-container>

        <!-- Cargo Column -->
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef> Cargo </th>
          <td mat-cell *matCellDef="let user"> {{user.cargo.nombre}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let user">
            <button mat-button class="users__action-button users__action-button--edit">
              <mat-icon class="users__action-icon">edit</mat-icon>
              Editar
            </button>
            <button mat-button class="users__action-button users__action-button--delete">
              <mat-icon class="users__action-icon">delete</mat-icon>
              Eliminar
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="users__footer">
        <span class="users__total">Total Registros: {{users.length}}</span>
      </div>
    </div>
  </div>
</div>
